@model Game

<h2>Please fill in the fields below to create your character</h2>

@using (Html.BeginForm("AddPlayerToDatabase", "Game", "Post"))
{
    <div style="display:block; text-align:center" class="centeredForm">
        <label asp-for="UserToInsert.UserName" style="margin-right:27px">Player Name</label>
        <input type="text" name="UserToInsert.UserName" class="formClear" /><br />
        <label asp-for="UserToInsert.CharacterName ">Character Name</label>
        <input type="text" name="UserToInsert.CharacterName" class="formClear" /><br />
        <label asp-for="UserToInsert.Equipment" style="margin-right:41px">Equipment</label>
        <input type="text" name="UserToInsert.Equipment" class="formClear" /><br />
        <label asp-for="UserToInsert.Skills" style="margin-right:80px">Skills</label>
        <input type="text" name="UserToInsert.Skills" class="formClear" />
        <input asp-for="UserToInsert.CampaignID" type="hidden" value="@Model.CampaignID" />
        <div style="display:block; text-align:center">
            <input type="submit" value="Add Character" class="delete" />
        </div>
    </div>
        }
