@model Game

<h2>Please enter the information below for your campaign</h2>

@using (Html.BeginForm("SendGameToDatabase", "Game", "Post"))
{
    <div style="display:block; text-align:center" class="centeredForm">
        <label asp-for="CampaignName" >Campaign Name</label>
        <input type="text" name="CampaignName" class="formClear" value="@Model.CampaignName" />
        <div style="display:block; text-align:center">
            <input type="submit" value="Create Game" class="delete" />
        </div>
    </div>
    }
