@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/style.css" />
<link rel="stylesheet" href="~/css/Home.css" />

<body>
    <div class="text-center">
        <h1 class="display-4" style="color:white">Welcome<br />to</h1>
    </div>

    <div class="starwars-demo">
        <p class="text-center"><img src="Images/star.svg" alt="Star" class="star"></p>
        <h1 class="text-center" style="color:white"><a href=/Game>Imperial Vault</a></h1>
        <p class="text-center"><img src="Images/wars.svg" alt="Wars" class="wars"></p>

    </div>
</body>


