@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Imperial Vault!</h1>
    <p>View games <a href=/Game>games here</a>.</p>
</div>

<div class="starwars-demo">
    <img src="Images/star.svg" alt="Star" class="star">
    <img src="Images/wars.svg" alt="Wars" class="wars">
    <h2 class="byline" id="byline"><a href=/Game>Imperial Vault</a></h2>
</div>